body {
  background-color: white;
  font-family: "Montserrat";

}
.logo{
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
}
#title {
  background-color: #11101D;
}

.container-fluid {
  padding: 3% 3% 7%;
}

.bf:hover{
  background-color: #FA8072;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: : 3rem;
  line-height: 1.5;
}
.Order-btn:hover{
  background-color: white;
  color: black;
  border-width: thin;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1rem;
text-align: left;
}
.order-link{
  border-radius: 10%;
}




@media (max-width:1028px) {
  #title {
    text-align: center;
  }


}
.head-one{
  text-align: center;
}
.work{
background-color: white;
text-align: center;

}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

p {
  color: grey;
}

#features {
  padding: 4% 7%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #11101D;
  margin-bottom: 1rem;
}
.para{
  color:#865439;
}
.icon:hover {
  color:#11101D;
}



@media only screen and (max-width: 500px) {

  .body{
    width: 80%;
  }


}
.dummylink{
    text-decoration: none;
    color: #000000;
}

.dummylink:hover{
    text-decoration: none;
    color: #000000;
}
.homesupportbtn{
    background:red;
    width:150px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    font-size:12px;
    color: white;
    border-radius: 75px;
    vertical-align: middle;
    border:15px solid #FFECB3;
    padding-top:45px;
    line-height: 14px;
    margin-top: 25px;
}

.homesupportbtn:hover{
    cursor: pointer;
     border:10px solid white;
}
#testimonials {

  background-color:#11101D;
  color: white;
}
.testi-text{
  color: white;
}
.carousel-item {
  padding: 7% 15%;
  height: 500px;
color: white;
}
@media (max-width:1000px) {
  .carousel-item {
    padding: 7% 15%;
    height: 500px;
  }

}

#press {
  background-color: #7C83FD;
  text-align: center;
  padding-bottom: 3%;
}



#pricing {
    padding: 7% 15%;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #11101D;
  padding: 7% 15%;
  color: white;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  line-height: 1.5;
}

.ic {
  margin: 20px 10px;
  color: white;

}
.ic:hover{
  color: black;
  text-decoration: none;
}
#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: #11101D;
}
.copyright{
  color: lightgrey;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.top-icon{
  color: black;
  position: fixed;
right:  300px;
}
.logo{
  background-color: #11101D;
}





footer{
  width: 100%;

  bottom: 0;
  left: 0;
  background: #11101D;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #11101D;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #11101D;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}

footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
.bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){

  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }

}
